html {
    --table-lines-clr: #759;
    font-size: 24px;
}

body {
    background-color: #7b9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.status {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
}

table {
    margin: 100px auto;
    border: .3rem solid var(--table-lines-clr);
}

.cell {
    width: 8vw;
    height: 8vw;
    border: 1px solid var(--table-lines-clr);
    background-color: #296;
    transition: 300ms;

    text-align: center;
    font-weight: bold;
}

.unshown {
    color: transparent;
}

.unshown:hover {
    background-color: #5b5;
    cursor: pointer;
}

.shown {
    background-color: transparent;
}
